<nav class="navbar navbar-expand-custom navbar-mainbg">
  <a class="navbar-brand navbar-logo" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars text-white"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <div class="hori-selector">
        <div class="left"></div>
        <div class="right"></div>
      </div>
      <li class="nav-item">
        <a class="nav-link" routerLink="dashboard"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="employee"><i class="far fa-address-book"></i>Employee</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="tickets"><i class="far fa-clone"></i>Ticket</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="new-ticket"><i class="far fa-calendar-alt"></i>New-ticket</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="department"><i class="far fa-calendar-alt"></i>Department</a>
      </li>
     
    </ul>
  </div>
</nav>